body {
  margin:0;
  padding:0;

  /* background:#311b92;
  color:#fff; */
  font-family: Roboto, sans-serif;
}

.app {
  display:flex;
}

.sidebar {
  width:300px;
}

  .tuners {
    width:200px;
  }

.currently-playing {
  display:flex;
  justify-content: space-around;
  width:100%;
}

.station.selected {
  font-weight: bold;
}

.seed-type {
  display:block;
  text-transform: uppercase;
  font-size:11px;
}
.seed {
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: solid 3px #eee;
  height:70%;
  text-align: center;
}
  .seed .remove {
    position: absolute;
    top:5px;
    right:5px;
    display:block;
    text-transform: uppercase;
    font-size:11px;
  }
  .seed .seed-type {
    position: absolute;
    top:5px;
    left:5px;
  }
  .seed .primary {

  }
  .seed .secondary {
    opacity: 0.5;
    margin-top:10px;
  }

.entry {
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  /* padding:10px; */
}
  .entry .seed-type {
    margin-left:30px;
    /* margin-top:3px; */
    
  }
